@model Harmic.Models.TbProduct

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Xóa sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Xóa sản phẩm</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-action="Edit" asp-area="Admin">
                            <div class="card-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label for="exampleInputEmaill">Tiêu đề:</label>
                                    @Html.DisplayFor(model => model.Title)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">CategoryProductId:</label>
                                    @Html.DisplayFor(model => model.CategoryProductId)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Giá:</label>
                                    @Html.DisplayFor(model => model.Price)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Giá giảm: </label>
                                    @Html.DisplayFor(model => model.PriceSale)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Số lượng:</label>
                                    @Html.DisplayFor(model => model.Quantity)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Sản phẩm mới:</label>
                                    @Html.DisplayFor(model => model.IsNew)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Sản phẩm bán chạy:</label>
                                    @Html.DisplayFor(model => model.IsBestSeller)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Hiện:</label>
                                    @Html.DisplayFor(model => model.IsActive)
                                </div>
                                
                            </div>
                            <!-- /.card-body -->
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="ProductId" />
                                <input type="submit" value="Xóa" class="btn btn-danger" />
                                <a asp-action="Index" class="btn btn-primary">Quay lại</a>
                            </form>
                            
                        </form>
                    </div>
                    <!-- /.card -->
                    <!-- general form elements -->
                    <!-- /.card -->
                    <!-- Horizontal Form -->
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
